[submodule "mylogger"]
	path = mylogger
	url = https://github.com/igarreta/mylogger.git
[submodule "pushover"]
	path = pushover
	url = https://github.com/igarreta/pushover.git
[submodule "python_utils"]
	path = python_utils
	url = https://github.com/igarreta/python_utils.git
